<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>Authentication</filter-name>
        <filter-class>filter.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>TeacherOnlyFilter</filter-name>
        <filter-class>filter.TeacherOnlyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TeacherOnlyFilter</filter-name>
        <servlet-name>ViewExamServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>ClassInfoServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>SelectExamServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>ExamServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>LogoutServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>AddClassServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>ViewExamServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>AddExamSevlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>ClassInfoServlet</servlet-name>
        <servlet-class>Servlet.ClassInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectExamServlet</servlet-name>
        <servlet-class>Servlet.SelectExamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamServlet</servlet-name>
        <servlet-class>Servlet.ExamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddClassServlet</servlet-name>
        <servlet-class>Servlet.AddClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewExamServlet</servlet-name>
        <servlet-class>Servlet.ViewExamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddExamSevlet</servlet-name>
        <servlet-class>Servlet.AddExamSevlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClassInfoServlet</servlet-name>
        <url-pattern>/ClassInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectExamServlet</servlet-name>
        <url-pattern>/SelectExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamServlet</servlet-name>
        <url-pattern>/Exam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddClassServlet</servlet-name>
        <url-pattern>/AddClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewExamServlet</servlet-name>
        <url-pattern>/ViewExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddExamSevlet</servlet-name>
        <url-pattern>/AddExam</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
